<!DOCTYPE html>
<f:layout name="Default" />
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3n="http://typo3.org/ns/KITT3N/Kitt3nViewhelpers/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <head></head>
    <body>
        <f:section name="body">
            <!--TYPO3SEARCH_begin-->

            <div class="body-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 position_relative">

                            <h1>TYPO3 Kit - Styleguide</h1>
                            <h2>kitt3n Version 1.0</h2>

                            <h3>Rendering of columns is working? (lib.content)</h3>
                            <strong>colPos 1</strong><br/>
                            <f:cObject typoscriptObjectPath="lib.content" data="{pageUid: '{data.uid}', colPos: '1'}" />
                            <br/>
                            <strong>colPos 0</strong><br/>
                            <f:cObject typoscriptObjectPath="lib.content" data="{pageUid: '{data.uid}', colPos: '0'}" />
                            <hr/>

                            <h3>Current year? (lib.year)</h3>
                            <f:cObject typoscriptObjectPath="lib.year" />
                            <hr/>

                            <h3>Main Navigation? (lib.mainnavigation)</h3>
                            <f:cObject typoscriptObjectPath="lib.mainnavigation" />
                            <hr/>

                            <h3>Sub Navigation? (lib.subnavigation)</h3>
                            <f:cObject typoscriptObjectPath="lib.subnavigation" />
                            <hr/>

                            <h3>Crumb Navigation? (lib.crumbnavigation)</h3>
                            <f:cObject typoscriptObjectPath="lib.crumbnavigation" />
                            <hr/>

                            <h3>Meta Navigation? (lib.metanavigation)</h3>
                            <f:cObject typoscriptObjectPath="lib.metanavigation" />
                            <hr/>

                            <h3>Language Navigation? (lib.langnavigation)</h3>
                            <f:cObject typoscriptObjectPath="lib.languagenavigation" />
                            <hr/>

                            <h3>Mobile Navigation? (lib.mobilenavigation)</h3>
                            <f:cObject typoscriptObjectPath="lib.mobilenavigation" />
                            <hr/>

                            <h3>Social Navigation? (lib.socialnavigation)</h3>
                            <f:cObject typoscriptObjectPath="lib.socialnavigation" />
                            <hr/>

                            <div data-aos="fade-up">
                                <h3>VHS</h3>
                                {v:variable.set(name: 'str1', value: 'hallo')}
                                <p>{str1}</p>
                            </div>

                            <div data-aos="fade-up">
                                <h3>ViewHelpers</h3>
                                <kitt3n:string.characterCount str="hallo"/>

                                <kitt3n:string.countUl string="4"/>

                                <kitt3n:string.countUl string="abc"/>
                            </div>


                            <hr>
                            <kitt3n:format.removeLineBreaks text="c = 'abc \n' d = '123 \r'"/>



                            <v:variable.set name="date1" value="{f:format.date(date: '17.01.1979', format: 'd.m.Y')}" />
                            <v:variable.set name="date2" value="{f:format.date(date: '19.02.1979', format: 'd.m.Y')}" />

                            <h4>Date difference</h4>
                            {date2} - {date1} = <kitt3n:date.difference dStart="{date1}" dEnd="{date2}" sReturnType="%a" bAddCurrentDay="false"/> Days


                            <h4>Dates from -> to</h4>
                            <kitt3n:date.combine dStart="{date1}" dEnd="{date2}" sFormat="%d.%m.%Y" sFormatStartDiffDay="%d." sFormatEndtDiffDay="%d.%m.%Y" /><br>
                            <kitt3n:date.combine dStart="{date1}" dEnd="{date2}" sFormat="%d.%m.%Y" sFormatStartDiffDay="%d." sFormatStartDiffDayMonth="%d.%m." sFormatStartDiffDayMonthYear="%d.%m.%Y" sFormatEndtDiffDay="%d.%m.%Y" sFormatEndDiffDayMonth="%d.%m.%Y" sFormatEndDiffDayMonthYear="%d.%m.%Y" />

                        </div>
                    </div>
                </div>
            </div>

            <!--TYPO3SEARCH_end-->
        </f:section>
    </body>
</html>