<!DOCTYPE html>
<f:layout name="Default" />
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3n="http://typo3.org/ns/KITT3N/Kitt3nViewhelpers/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <head></head>
    <body>
        <f:section name="body">
            <!--TYPO3SEARCH_begin-->

            <!-- ToDo: Discuss and fill in some code -->
            ...

            <!--TYPO3SEARCH_end-->
        </f:section>
    </body>
</html>